
/*code by Oliver Kovacs*/
/*part of ashCoin.html*/



div#infoDisplay {
    display: flex;
    font-size: 75%
}
div#blockChainText {
    display: flex 1;
    height: 700;
    overflow-x: auto;
    overflow-y: auto;
    font-family: "Lucida Console", Courier, monospace;
}
div#textSeparator {
    width: 15;
    height: 700;
}
div#pendingTransactionText {
    width: 30%;
    height: 700;
    overflow-x: auto;
    overflow-y: auto;
    font-family: "Lucida Console", Courier, monospace;
}



div#interaction {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 75%
}



form {
    font-family: "Lucida Console", Courier, monospace;
}